body{
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;	
}
.encabezado{
	font-weight:bold;
}
.titulo{
	font-weight:bold;
	font-size: 20px;	
	text-align: center;
}

.subtitulo{
	font-weight:bold;
	font-size: 16px;	
	text-align: center;
}

.derecho{
	text-align: right;
	padding: 0px;
	border-spacing: 0px;
}
.celda{
	padding: 0px;
	border-spacing: 0px;
}

.blanco{
	color:#ffffff;
	padding: 0px;
	border-spacing: 0px;
}